/* Display Break-Pints */
$breakpoints: (
    'huge':   ( min-width: 2561px ),
    'main':   ( min-width: 1441px ),
    'laptop': ( min-width: 769px ),
    'tablet': ( min-width: 426px ),
    'phone':  ( max-width: 425px ),
) !default;

/* Font Sizes */
$hugeFontSize: 30px;     // 2561 < max
$mainFontSize: 24px;     // 1441 < 2561
$laptopFontSize: 20px;   // 769  < 1440
$tabletFontSize: 18px;   // 426  < 768
$phoneFontSize: 12px;    // min  > 425

/* Font Colors */
$mainFontColor: #222;

/* Background Colors */
$mainBackgroundColor: #fafafa;

/* Link Color */
$mainLinkColor: #090;
